:root {
    --shadow-small: 0 1px 2px 0 rgba(10, 13, 18, 0.06),
        0 1px 3px 0 rgba(10, 13, 18, 0.1);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    padding: 32px;
    font-family: sans-serif;
    border: 1px solid #000;
}

aside {
    flex: 0 0 280px;
    position: sticky;
    top: 32px;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

a {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    width: 1fr;
    max-width: 600px;
    border: 1px solid #000;
    border-radius: 18px;
    overflow: hidden;
    align-self: center;
    gap: 0px;
}

.card.horizontal {
    flex-direction: row;
    height: fit-content;
}

.card.horizontal figure {
    flex: 0 0 auto;
    aspect-ratio: 1 / 1;
}

.card figure {
    align-self: stretch;
    margin: 0px;
    padding: 0px;
}
.card figure img {
    border: 1px solid #000;
    width: 100%;
    height: 200px;
    align-self: stretch;
    object-fit: cover;
    object-position: center;
}

.card .content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
}

.card .content h2 {
    margin: 0px;
}

.card .content p {
    margin: 0px;
}

.card :hover {
    background-color: gray;
}

.category-card {
    width: 274px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 12px;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: var(--shadow-small);
}

.category-card ul {
    height: fit-content;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.category-card ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 24px;
    margin: 0px;
    gap: 8px;
}

.category-card ul li p {
    margin: 0px;
}

.category-card h3 {
    margin: 0px;
}
